<?xml version="1.0"?>
<config>
    <modules>
        <Yo1_Requirelogin>
            <version>0.1.0</version>
        </Yo1_Requirelogin>
    </modules>
    <global>
        <models>
            <yo1_requirelogin>
                <class>Yo1_Requirelogin_Model</class>
                <resourceModel>yo1_requirelogin_resource</resourceModel>
            </yo1_requirelogin>
            <yo1_requirelogin_resource>
                <class>Yo1_Requirelogin_Model_Resource</class>
            </yo1_requirelogin_resource>
        </models>
        <blocks>
            <yo1_requirelogin>
                <class>Yo1_Requirelogin_Block</class>
            </yo1_requirelogin>
        </blocks>
        <helpers>
            <yo1_requirelogin>
                <class>Yo1_Requirelogin_Helper</class>
            </yo1_requirelogin>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <yo1_requirelogin>
                        <class>Yo1_Requirelogin_Model_Customer_Observer</class>
                        <method>requireLogin</method>
                    </yo1_requirelogin>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
</config>